___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [13]:
def lesser_of_two_evens(a,b):
    
    if (a+b)%2 == 0:
        return(min(a,b))
    else:
        return(max(a,b))

In [14]:
# Check
lesser_of_two_evens(2,4)

2

In [15]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [329]:
def animal_crackers(text):
    s = text.split()
    if s[0][0] == s[1][0]:
        return True
    else:
        return False

In [330]:
# Check
animal_crackers('Levelheaded Llama')

True

In [331]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [48]:
def makes_twenty(n1,n2):
    if n1+n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False

In [53]:
# Check
makes_twenty(20,8)

True

In [52]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [70]:
def old_macdonald(name):
    y = 0
    name1 = ''
    for x in name:
        if y == 0 or y == 3:
            name1 += x.upper()
        else:
            name1 += x
        y += 1
    return name1

In [71]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [87]:
def master_yoda(text):
    words = text.split()
    print(words)
    words = words[::-1]
    print(words)
    words = " ".join(words)
    return words

In [88]:
# Check
master_yoda('I am home')

['I', 'am', 'home']
['home', 'am', 'I']

'home am I'

In [89]:
# Check
master_yoda('We are ready')

['We', 'are', 'ready']
['ready', 'are', 'We']

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [112]:
def almost_there(n):
    if abs(100-n) <= 10 or abs(200-n) <= 10:
        return True
    else:
        return False

In [113]:
# Check
almost_there(104)

True

In [114]:
# Check
almost_there(150)

False

In [115]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [341]:
def has_33(nums):
#    y=0
#    for x in nums:
#        if x == 3 and y == 3:
#            return True
#        else:
#            pass
#        y=x
#    return False  

# shorter version
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [342]:
# Check
has_33([1, 3, 3])

True

In [343]:
# Check
has_33([1, 3, 1, 3])

False

In [344]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [171]:
def paper_doll(text):
    text1 = ''
    for x in text:
        for y in range(3):
            text1 += x
    return text1

In [172]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [173]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [192]:
def blackjack(a,b,c):
    s = a+b+c
    if s <= 21:
        return s
    elif s > 21 and (a==11 or b==11 or c==11):
        return s-10
    else:
        return 'BUST'

In [193]:
# Check
blackjack(5,6,7)

18

In [194]:
# Check
blackjack(9,9,9)

'BUST'

In [195]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [229]:
def summer_69(arr):
    
    y = 0
    not_nine = True
    
    for x in arr:
        if x !=6 and not_nine:
            y += x
            print('1 ',x, not_nine, y)
        elif x == 9:
            not_nine = True
            print('2 ',x, not_nine, y)
        else:
            not_nine = False
            print('3 ', x, not_nine, y)
    
    return y

In [230]:
# Check
summer_69([1, 3, 5])

1  1 True 1
1  3 True 4
1  5 True 9

9

In [231]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

1  4 True 4
1  5 True 9
3  6 False 9
3  7 False 9
3  8 False 9
2  9 True 9

9

In [232]:
# Check
summer_69([2, 1, 6, 9, 11])

1  2 True 2
1  1 True 3
3  6 False 3
2  9 True 3
1  11 True 14

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [239]:
def spy_game(nums):
    y = 0
    for x in nums:
        if x == 0:
            y += 1
        elif y == 2 and x == 7:
            return True
        else:
            pass
    return False

In [240]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [241]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [242]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [347]:
def count_primes(num):
    count = 0
    count_p = 0
    
    for x in range(2,num+1):
        #print('x ', x)
    
        for y in range(x+1):
            #print('y ', y)
            if y == 0:
                #print('pass1')
                pass
            elif x % y == 0:
                count += 1
                #print('count ', count)
            else:
                #print('pass2')
                pass
        
        if count == 2:
            count_p += 1
            #print('count_p', count_p)
        else:
            pass
        count = 0
        #print('count 0')
    
    print(count_p)

In [348]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!